#top{
  margin-top: 15px;
}
#top #logo{
}
#top img{
  width:50px;
  height:50px;
  margin-left: 8%;
  margin-top: -10px;
}
#top #btn{
  float: right;  
  margin-top: 5px; 
  margin-right: 132px;
}
@media (max-width:1280px){
  #top #btn{
    float: right;
  margin-top: 5px;
  margin-right: 88px;
  }
}
#main{
  height: 400px; 
  width: 85%; 
  margin-left: 8%; 
  margin-right: 8%;
  margin-top: 10px;
}
mytable {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    margin: 20px 10px;
}
th {
   /*  width: 155px; */
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #1278ed ;
}
td {
   /*  width: 155px; */
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #eee;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
  background: #1278ed;
  width: auto;
  margin-left:8%;
  margin-right:7%;
  height: 40px;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
  margin-left:43%;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #000000;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #333333;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
#btn a {
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    margin: 20px auto;
    border-radius: 4px;
    padding: 7px 15px;
    text-decoration: none;
}

#btn a.button {
    color: rgba(30, 22, 54, 0.6);
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

#btn a.button:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: #1278ed 0 0px 0px 40px inset;
}


#btn button{
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    padding: 7px 15px;
    margin: 20px auto;
    border-radius: 4px;
    border:0px;
    width: 60px;
    height: 42px;
}
button.search {
    color: rgba(30, 22, 54, 0.6);
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
    background:white;
}

button.search:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: #1278ed 0 0px 0px 40px inset;
}

#search{
  width: auto; 
  margin-left:74.6%;
  margin-top:1%
}
@media (max-width:1280px){
  #search{
    width: auto;
    margin-left: 70.1%;
    margin-top: 2%;
  }
}
div#select_box {
    position: relative;
    width:150px;
    height: 40px;
    background: url(select_arrow.png) 130px center no-repeat; /* ȭ��ǥ �̹��� */
    border: 1px solid #E9DDDD;
    margin-left: -155px;
}
div#select_box label {
	  width:200px;
    position: absolute;
    font-size: 14px;
    color: #a97228;
    top: 13px;
    left: 12px;
    letter-spacing: 1px;
}
div#select_box select#color {
    width: 100%;
    height: 40px;
    min-height: 40px;
    line-height: 40px;
    padding: 0 10px;
    opacity: 0;
    filter: alpha(opacity=0); /* IE 8 */
}
div#select_box select#collang {
  width: 100%;
  height: 40px;
  min-height: 40px;
  line-height: 40px;
  padding: 0 10px;
  opacity: 0;
  filter: alpha(opacity=0); /* IE 8 */
}
.textbox {
	position: relative;
	margin-top: -62px;
	} 
.textbox label { 
	position: absolute; 
	top: 16px; /* input ����� border-top ������ ��ŭ */ 
	left: 1px; /* input ����� border-left ������ ��ŭ */ 
	padding: .8em .5em; /* input ����� padding �� ��ŭ */ 
	color: #999; 
	cursor: text; 
	} 
.textbox input[type="text"]{ 
  margin-top: 20px;
	width: 59%; /* ���ϴ� �ʺ� ���� */ 
	height: auto; /* ���̰� �ʱ�ȭ */ 
	line-height : normal; 
	/* line-height �ʱ�ȭ */ 
	padding: .8em .5em; /* ���ϴ� ���� ����, ���ϴ� �������� ���̸� ���� */ 
	font-family: inherit; /* ��Ʈ ��� */ 
	border: 1px solid #999; 
	border-radius: 0; /* iSO �ձٸ𼭸� ���� */ 
	outline-style: none; /* ��Ŀ���� �߻��ϴ� ȿ�� ���Ÿ� ���Ѵٸ� */ 
	-webkit-appearance: none; /* �������� �⺻ ��Ÿ�ϸ� ���� */ 
	-moz-appearance: none; 
	appearance: none; 
	}

.paging {
	margin-top: 15px;
	text-align: center;
	font-size: 0;
}
.paging a,
.paging strong {
	display: inline-block;
	width: 20px;
	height: 18px;
	margin: 0 1px;
	border: 1px solid #dbdbdb;
	color: #767676;
	font-size: 11px;
	font-weight: bold;
	line-height: 20px;
	vertical-align: middle;
  text-decoration: none;
}
.paging a:hover,
.paging a:active,
.paging a:focus {
	border: 1px solid #4c8500;	
}
.paging strong {
	color: #fff;
	background: #4c8500;
	border: 1px solid #4c8500;
}
.paging .direction {
	background: url('http://leroro.net/images/ui/sp_btn_paging.gif') no-repeat;
}
.paging .direction.first {
	background-position: left top;
}
.paging .direction.prev {
	margin: 0 12px 0 1px;
	background-position: -20px 0;
}
.paging .direction.next {
	margin: 0 1px 0 12px;
	background-position: -40px 0;
}
.paging .direction.last {
	background-position: right top;
}
.paging .direction span {
	position: absolute;
	display: block;
	width: 20px;
	height: 18px;
	overflow: hidden;
	z-index: -1;
}


